*.suo
*.pdb
**/obj/**

Sources/CustomTool/CustomTool.csproj.user
Sources/CustomTool/bin/Debug/CustomTool.dll
Sources/CustomTool/bin/Debug/Domenici.Utilities.Configuration.dll
Sources/CustomTool/bin/Debug/EnvDTE.dll
Sources/CustomTool/bin/Debug/EnvDTE.xml
Sources/CustomTool/bin/Debug/Microsoft.MSXML.dll
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.ComponentModelHost.dll
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.CoreUtility.dll
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.CoreUtility.xml
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.GraphModel.dll
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.ImageCatalog.dll
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.ImageCatalog.xml
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.Imaging.dll
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.Imaging.xml
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.OLE.Interop.dll
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.OLE.Interop.xml
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.ProjectAggregator.dll
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.ProjectAggregator.xml
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.Shell.14.0.dll
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.Shell.14.0.xml
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.Shell.Immutable.10.0.dll
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.Shell.Immutable.10.0.xml
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.Shell.Immutable.11.0.dll
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.Shell.Immutable.11.0.xml
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.Shell.Immutable.12.0.dll
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.Shell.Immutable.12.0.xml
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.Shell.Immutable.14.0.dll
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.Shell.Immutable.14.0.xml
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.Shell.Interop.8.0.dll
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.Shell.Interop.8.0.xml
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.Shell.Interop.9.0.dll
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.Shell.Interop.9.0.xml
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.Shell.Interop.dll
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.Shell.Interop.xml
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.TextManager.Interop.8.0.dll
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.TextManager.Interop.8.0.xml
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.TextManager.Interop.dll
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.TextManager.Interop.xml
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.Threading.dll
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.Threading.xml
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.Utilities.dll
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.Utilities.xml
Sources/CustomTool/bin/Debug/Microsoft.VisualStudio.VSHelp.dll
Sources/CustomTool/bin/Debug/stdole.dll
Samples/SampleApplication/SampleApplication.csproj.user
Samples/SampleDependency/SampleDependency.csproj.user
Sources/Domenici.Utilities.Configuration.Tests/Domenici.Utilities.Configuration.Tests.csproj.user
Sources/Domenici.Utilities.Configuration.Tests/bin/Domenici.Utilities.Configuration.Tests.dll
